<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row text-center>
      <ion-col col-4 [ngClass]="{'custom-tab custom-tab-selected': viciniSelected, 'custom-tab': !viciniSelected}" (click)="conquista_button('vicini')">
        I più vicini
      </ion-col>
      <ion-col col-4 [ngClass]="{'custom-tab custom-tab-selected': promoSelected, 'custom-tab': !promoSelected}" (click)="conquista_button('promo')">
        Le migliori promo
      </ion-col>
      <ion-col col-4 [ngClass]="{'custom-tab custom-tab-selected': newsSelected, 'custom-tab': !newsSelected}" (click)="conquista_button('news')">
        Novità
      </ion-col>
    </ion-row>

    <ion-row text-center margin-top>
      <ion-col col-6 [ngClass]="{'custom-tab custom-tab-selected': combattutiSelected, 'custom-tab': !combattutiSelected}" (click)="conquista_button('combattuti')">
        I più combattuti
      </ion-col>
    <ion-col col-6 [ngClass]="{'custom-tab custom-tab-selected': tribuSelected, 'custom-tab': !tribuSelected}" (click)="conquista_button('tribu')">
      Della mia tribù
    </ion-col>


    </ion-row>
  </ion-grid>

  <ion-select class="myCustomSelect" margin-bottom margin-top (ionChange)="onSelectChange($event)">
    <ion-option value="ZERO" selected>Categorie</ion-option>
    <ion-option value="RIS">Ristoranti</ion-option>
    <ion-option value="ABB">Abbigliamento</ion-option>
    <ion-option value="BAR">Bar</ion-option>
    <ion-option value="SPO">Sport</ion-option>
    <ion-option value="TEC">Tech</ion-option>
  </ion-select>

  <h1 *ngIf="showAlert" text-center>Nessun risultato trovato</h1>
  <p text-center>
    <button ion-button class="BOTTONE-AZZURRO-BLU" *ngIf="showAlert" text-center (click)="reinizia()">Reinizia ricerca</button>
  </p>

  <div class="card-background-page">
    <ion-card *ngFor="let partner of partners" (click)="info_parner(partner.id)">
      <img src="http://app.chibeapp.com/media/{{partner.logo}}" onError="this.src='assets/conquistasquared.png'"/>
      <div class="card-title">{{partner.ragione_sociale}}</div>
      <div class="card-subtitle">&nbsp;</div>
      <div class="card-tribu" *ngIf="partner.tribu"><img src="assets/animali/{{partner.tribu}}.png"></div>
    </ion-card>
  </div>

  <h3 *ngIf="no_result" text-center>Non sono stati trovati altri risultati</h3>

  <h3 *ngIf="!gps_attivo" text-center>GPS non attivo</h3>
  <div *ngIf="!gps_attivo">
    <ion-card  class="custom-ion-card" (click)="cerca_tutto()">
      <ion-item class="ion-card-item">
        <h2>Ho attivato il GPS</h2>
      </ion-item>
    </ion-card>
  </div>
  
  <!--
  <div *ngIf="gps_attivo">
    <ion-card *ngIf="!showAlert" class="custom-ion-card" (click)="carica_altro()">
      <ion-item class="ion-card-item">
        <h2>Carica altri risultati</h2>
      </ion-item>
    </ion-card>
  </div>
  -->

</ion-content>
