<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row text-center>
      <ion-col col-4 [ngClass]="{'custom-tab custom-tab-selected': viciniSelected, 'custom-tab': !viciniSelected}" (click)="conquista_button('vicini')">
        I più vicini
      </ion-col>
      <ion-col col-4 [ngClass]="{'custom-tab custom-tab-selected': promoSelected, 'custom-tab': !promoSelected}" (click)="conquista_button('promo')">
        Le migliori promo
      </ion-col>
      <ion-col col-4 [ngClass]="{'custom-tab custom-tab-selected': newsSelected, 'custom-tab': !newsSelected}" (click)="conquista_button('news')">
        Novità
      </ion-col>
    </ion-row>

    <ion-row text-center margin-top>
      <ion-col col-6 [ngClass]="{'custom-tab custom-tab-selected': combattutiSelected, 'custom-tab': !combattutiSelected}" (click)="conquista_button('combattuti')">
        I più combattuti
      </ion-col>
    <ion-col col-6 [ngClass]="{'custom-tab custom-tab-selected': tribuSelected, 'custom-tab': !tribuSelected}" (click)="conquista_button('tribu')">
      Della mia tribù
    </ion-col>


    </ion-row>
  </ion-grid>

  <ion-select class="myCustomSelect" margin-bottom margin-top (ionChange)="onSelectChange($event)">
    <ion-option value="ZERO" selected>Categorie</ion-option>
    <ion-option value="RIS">Ristoranti</ion-option>
    <ion-option value="ABB">Abbigliamento</ion-option>
    <ion-option value="BAR">Bar</ion-option>
    <ion-option value="SPO">Sport</ion-option>
    <ion-option value="TEC">Tech</ion-option>
  </ion-select>

  <h1 *ngIf="showAlert" text-center>Nessun risultato trovato</h1>
  <p text-center>
    <button ion-button class="BOTTONE-AZZURRO-BLU" *ngIf="showAlert" text-center (click)="reinizia()">Reinizia ricerca</button>
  </p>

  <!--
  <ion-card *ngFor="let partner of partners" (click)="info_parner(partner.id)" class="custom-ion-card">
    <ion-item class="ion-card-item">
      <ion-avatar item-end>
        <img src="http://app.chibeapp.com/media/{{partner.logo}}" onError="this.src='assets/conquistasquared.png'">
      </ion-avatar>
      <h2>{{partner.ragione_sociale}}</h2>
    </ion-item>
    <ion-card-content class="ion-card-body">
      {{partner.descrizione}}
    </ion-card-content>
  </ion-card>
  -->
  <div class="card-background-page">
    <ion-card *ngFor="let partner of partners" (click)="info_parner(partner.id)">
      <img src="http://app.chibeapp.com/media/{{partner.logo}}" onError="this.src='assets/conquistasquared.png'"/>
      <div class="card-title">{{partner.ragione_sociale}}</div>
      <div class="card-subtitle">{{partner.descrizione}}</div>
    </ion-card>
  </div>

  <ion-card *ngIf="!showAlert" class="custom-ion-card" (click)="carica_altro()">
    <ion-item class="ion-card-item">
      <h2>Carica altri risultati</h2>
    </ion-item>
  </ion-card>

</ion-content>
