<ion-header>
  <ion-navbar>
    <ion-title>Lista dei desideri</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2 *ngIf="gruppi!=0" text-center>Desideri seguiti</h2>
  <ion-list margin-top>
    <button ion-item *ngFor="let gruppo of gruppi" (click)="getGruppo(gruppo)">
      <h2>{{gruppo.nome}}</h2>
      <p>Punti piuma raccolti: {{gruppo.punti}} / {{gruppo.punti_necessari / 0.01}}</p>
      <p>Componenti gruppo: {{gruppo.utenti.length}} / {{gruppo.num_gruppo}}</p>
    </button>
  </ion-list>
  <div *ngIf="gruppi==0" text-center>
    <h3>Nessun desiderio seguito</h3>
  </div>
</ion-content>
