<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="modificaProfilo()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row class="profilo-copertina">
      <ion-col col-12 text-center>
        <img class="avatar" [src]="avatar" (click)="modificaAvatar()">
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col col-12 text-center>
        <h4>{{nome}} {{cognome}}</h4>
        <span *ngIf="!descrizione" (click)="modificaProfilo()">Aggiungi biografia</span>
        <span>{{descrizione}}</span>
      </ion-col>
    </ion-row>

    <ion-row margin-top>
      <ion-col col-5 text-left>
        <!--<h6 *ngIf="tribu">{{tribu}}</h6>-->
        <img src="{{tribu}}" style="height: 30px">
      </ion-col>
      <ion-col col-7 text-right>
        <h5>{{pp|number|pointReplacer}} punti piuma</h5>
      </ion-col>
    </ion-row>
    <hr>

    <ion-row *ngIf="!tribu" margin-top class="profilo-tribu-body">
      <ion-col col-12 text-center>
        <h5>Di quale tribù fai parte?</h5>
        Aquile, puma, volpi, orsi o lupi? Ogni tribù ha delle caratteristiche, un modo di vivere ed un pensiero diverso, ognuna è unica.
        <br>
        <button ion-button margin-top (click)="scegliTribu()" class="BOTTONE-BIANCO-GIALLO">Scopri la tua tribù</button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="modifica_tribu" margin-top class="profilo-tribu-body">
      <ion-col col-12>
        <h5 text-center>Vuoi modificare la tribù?</h5>
        <button ion-button margin-top (click)="scegliTribu()" class="BOTTONE-BIANCO-GIALLO">Cambia la tua tribù</button>
      </ion-col>
    </ion-row>

    <ion-row text-center>
      <ion-col col-12>
        <h5>Lista dei desideri</h5>
        Controlla la lista dei desideri seguiti
        <ion-list margin-top>
          <button ion-item *ngFor="let gruppo of gruppi" (click)="getGruppo(gruppo)">
            <h2>{{gruppo.nome}}</h2>
            <p>Punti piuma raccolti: {{gruppo.punti}} / {{gruppo.punti_necessari}}</p>
            <p>Componenti gruppo: {{gruppo.utenti.length}} / {{gruppo.num_gruppo}}</p>
            <div class="progress-bar blue stripes">
                <span [style.width]="gruppo.percentuale">{{gruppo.percentuale}}</span>
            </div>
          </button>
        </ion-list>
        <div *ngIf="gruppi==0" text-center>
          <h3>Nessun desiderio seguito</h3>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>



</ion-content>
