<!--
<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="modificaProfilo()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
-->

<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="modificaProfilo()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>    
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-4>
        <img class="avatar" [src]="avatar ? 'avatar' :'http://via.placeholder.com/150x150'">
      </ion-col>
      <ion-col col-8>
        <h4>{{username}}</h4>
        <span *ngIf="tribu">Tribu {{tribu}} - </span>{{pp}} punti piuma
        <br>
        <small>{{descrizione}}</small>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!tribu" margin-top>
      <ion-col col-12>
        <h1 text-center>Di quale tribù fai parte?</h1>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacinia suscipit molestie. Ut mattis ultrices magna id finibus. Nullam facilisis aliquam massa, pellentesque ultricies purus auctor ac
        <br>
        <button ion-button block margin-top (click)="scegliTribu()">Scegli la tua tribù</button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="modifica_tribu" margin-top>
      <ion-col col-12>
        <h1 text-center>Vuoi modificare la tribù?</h1>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacinia suscipit molestie. Ut mattis ultrices magna id finibus. Nullam facilisis aliquam massa, pellentesque ultricies purus auctor ac
        <br>
        <button ion-button block margin-top (click)="scegliTribu()">Cambia la tua tribù</button>
      </ion-col>
    </ion-row>

    <ion-row text-center margin-top>
      <ion-col col-12>
        <h3>Lista dei desideri</h3>
        Controlla la lista dei desideri seguiti
        <button ion-button round margin-top (click)="listaDesideri()">Vedi la lista</button>
      </ion-col>
    </ion-row>

  </ion-grid>



</ion-content>
