page-tribuscelta {
    /*
  .toolbar-background-md {
      background: white;
      border: 1px solid #DFDBE8;
      border-radius: 10px;
  }
  super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .indicator {
    background-color: #211B4E;
    width: 80px;
    margin-left: 7px;
    bottom: 10px;
  }
  */
  super-tabs:not([no-shadow]) > super-tabs-toolbar > ion-toolbar.toolbar::after {
    background-color: #DFDBE8;
  }
  super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .indicator {
    background-color: #211B4E;
  }
  super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button.title-only .title {
    color: #211B4E;
    font-weight: bold;
  }
}
