<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="card-background-page">
  <ion-card *ngFor="let desiderio of desideri" (click)="openDesiderio(desiderio.id)">
    <img src="http://app.chibeapp.com/media/{{desiderio.big_picture}}" onError="this.src='assets/acchiappasquared.png'"/>
    <div class="card-title">{{desiderio.nome}}</div>
    <div class="card-subtitle">{{desiderio.descrizione_breve}}</div>
  </ion-card>
</ion-content>

<!--
<ion-content>
  <div *ngFor="let desiderio of desideri" margin-top>
    <h1>{{desiderio.categoria}}</h1>
    <ion-slides pager="false" slidesPerView="3" spaceBetween="16">
      <ion-slide *ngFor="let pic of desiderio.desideri">
        <img (click)="openDesiderio(pic.id)" src="http://app.chibeapp.com/media/{{pic.big_picture}}" onError="this.src='assets/acchiappasquared.png'"/>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
-->

<ion-footer>
  <ion-toolbar>
    <ion-buttons text-center>
      <a href="#" (click)="openNontrovi()">Non trovi il desiderio che vuoi?</a>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
