<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<!--
<ion-content>
  <div *ngFor="let desiderio of desideri">
    <ion-card (click)="openDesiderio(desiderio.id)" class="custom-ion-card">
      <ion-item class="ion-card-item">
        <h2>{{desiderio.nome}}</h2>
      </ion-item>
      <ion-card-content class="ion-card-body">
        {{desiderio.descrizione_breve}}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
-->

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let desiderio of desideri">
      <ion-col col-3>
        <img src="http://app.chibeapp.com/media/{{desiderio.immagine}}">
      </ion-col>
      <ion-col col-9>
        <ion-card (click)="openDesiderio(desiderio.id)" class="custom-ion-card">
          <ion-item class="ion-card-item">
            <h2>{{desiderio.nome}}</h2>
          </ion-item>
          <ion-card-content class="ion-card-body">
            {{desiderio.descrizione_breve}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>




<ion-footer>
  <ion-toolbar>
    <ion-buttons text-center>
      <a target='_blank' href='https://api.whatsapp.com/send?phone=393394198803&text=Ciao!%20Non%20trovo%20il%20desiderio%20che%20vorrei%20:)%20Il%20desiderio%20è...'>Non trovi il desiderio che vuoi?</a>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
