<ion-header>
  <ion-navbar>
    <ion-title>Cerca utenti</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  Inserisci il nome, email o nickname del Chiber da ricercare!
  <ion-item margin-top>
    <ion-label><ion-icon name="search"></ion-icon></ion-label>
    <ion-input type="text" (change)="searchAmico($event.target.value)"></ion-input>
  </ion-item>

  <h1 *ngIf="showAlert" text-center>Nessun risultato trovato</h1>

  <ion-item *ngIf="!amici">
    <img src="assets/toolbar/chibers_f.png">
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let amico of amici">
      <ion-grid>
        <ion-row>
          <ion-col col-2>
            <img class="amico_avatar" src="http://app.chibeapp.com{{amico.avatar}}" *ngIf="amico.avatar">
            <img class="amico_avatar" src="http://via.placeholder.com/150x150" *ngIf="!amico.avatar">
          </ion-col>
          <ion-col col-10 style="margin-top: 6px;">
            <h2><strong>{{amico.username}}</strong></h2>
            <p>{{amico.first_name}} {{amico.last_name}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-icon item-end [name]="amico.is_amico ? 'checkmark' :'add'" (click)="addAmico(amico, amico.id)"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons text-center>
      <button ion-button icon-right color="royal" (click)="invitaAmico()">
        Invita un amico
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
