.BOTTONE-BIANCO-GIALLO {
color: #211B4E;
background-color: #ffffff;
border-radius: 28px;
box-shadow: 2px 2px 0px #fec730;
font-weight: bold;
min-width: 40%;
}

.BOTTONE-BIANCO-GIALLO:hover {
color: #ffffff;
background-color: #211B4E;
border-radius: 28px;
box-shadow: 2px 2px 0px #fec730;
font-weight: bold;
min-width: 40%;
}

.BOTTONE-AZZURRO-BLU {
color: #ffffff;
background-color: #6DD0DD;
border-radius: 28px;
box-shadow: 2px 2px 0px #211B4E;
font-weight: bold;
min-width: 40%;
}
.BOTTONE-AZZURRO-BLU:hover {
color: #ffffff;
background-color: #211B4E;
border-radius: 28px;
box-shadow: 2px 2px 0px #6DD0DD;
font-weight: bold;
min-width: 40%;
}

.toolbar-title {
  color: #211B4E;
}

ion-navbar button {
  color: #6DD0DD !important;
}

h5 {
  color: #211B4E;
  font-weight: bold;
}

ion-app, ion-app.md, ion-app.ios {
    font-size: 1.2rem;
}

.text-input::-moz-placeholder {
  color: #DFDBE8;
}

.text-input:-ms-input-placeholder {
  color: #DFDBE8;
}

.text-input::-webkit-input-placeholder {
  color: #DFDBE8;
}

.select-icon-inner {
  color: #DFDBE8 !important;
}
.item-input .label-md,
.item-select .label-md,
.item-datetime .label-md,
.item-input .label-ios,
.item-select .label-ios,
.item-datetime .label-ios {
    color: #000;
}

.checkbox-checked {
    border-color: #6DD0DD !important;
    background-color: #6DD0DD !important;
}

/* Custom icons */

.ion-md-tab1Icon[ng-reflect-is-active="true"],
.ion-ios-tab1Icon[ng-reflect-is-active="true"]{
  content: url('../assets/toolbar/acchiappa_t.png');
}

.ion-md-tab1Icon[ng-reflect-is-active="false"],
.ion-ios-tab1Icon[ng-reflect-is-active="false"]{
  content: url('../assets/toolbar/acchiappa_f.png');
}

.ion-md-tab2Icon[ng-reflect-is-active="true"],
.ion-ios-tab2Icon[ng-reflect-is-active="true"]{
  content: url('../assets/toolbar/conquista_t.png');
}

.ion-md-tab2Icon[ng-reflect-is-active="false"],
.ion-ios-tab2Icon[ng-reflect-is-active="false"]{
  content: url('../assets/toolbar/conquista_f.png');
}

.ion-md-tab3Icon[ng-reflect-is-active="true"],
.ion-ios-tab3Icon[ng-reflect-is-active="true"]{
  content: url('../assets/toolbar/talismano_t.png');
}

.ion-md-tab3Icon[ng-reflect-is-active="false"],
.ion-ios-tab3Icon[ng-reflect-is-active="false"]{
  content: url('../assets/toolbar/talismano_f.png');
}

.ion-md-tab4Icon[ng-reflect-is-active="true"],
.ion-ios-tab4Icon[ng-reflect-is-active="true"]{
  content: url('../assets/toolbar/profilo_t.png');
}

.ion-md-tab4Icon[ng-reflect-is-active="false"],
.ion-ios-tab4Icon[ng-reflect-is-active="false"]{
  content: url('../assets/toolbar/profilo_f.png');
}

.ion-md-tab5Icon[ng-reflect-is-active="true"],
.ion-ios-tab5Icon[ng-reflect-is-active="true"]{
  content: url('../assets/toolbar/chibers_t.png');
}

.ion-md-tab5Icon[ng-reflect-is-active="false"],
.ion-ios-tab5Icon[ng-reflect-is-active="false"]{
  content: url('../assets/toolbar/chibers_f.png');
}

/* End custom icons */

.toolbar-background-md,
.toolbar-background-ios {
    background: white;
}

.logo_tribu {
  border: 5px solid #DFDBE8;
  width: 100px;
  border-radius: 50%;
}

.title.title-md {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 100%;
    width: 70%;
    text-align: center;
}

.header-md::after {
  background-image: none;
  border-bottom: 1px solid #DFDBE8;
}

.tabs-md .tabbar {
    background: #fff;
}

.footer-md::before {
  background-image: none;
  border-top: 1px solid #DFDBE8;
}

.header-md::after {
    background-color: white;
}
