page-talismano {

  #talismano_bg {
      background-image: url("../assets/talismano.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      height: 100%;
      margin-top: 61px;
  }

  qr-code img {
    border: 5px solid #DFDBE8;
    border-radius: 5px;
  }

  .round-qr {
    border: 5px solid #DFDBE8;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    text-align: center;
    padding-top: 28px;
  }


}
