<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}} <ion-icon name="ios-information-circle-outline" (click)="openModalInfo()"></ion-icon></ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="go_cerca()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>

  <h5 *ngIf="lista_amici!=0" text-center margin-top>Aggiungi i tuoi amici</h5>
  <div text-center margin-bottom *ngIf="lista_amici!=0">Chibe è una grande tribù, più studenti ne fanno parte e più sarà facile esaudire i vostri desideri!</div>
  <hr margin-top *ngIf="lista_amici!=0">

  <ion-list margin-top>
    <button class="custom-amici-item" ion-item *ngFor="let amico of lista_amici" (click)="amicoSelected(amico)">
      <ion-grid>
        <ion-row>
          <ion-col col-2>
            <img class="amico_avatar" src="http://app.chibeapp.com{{amico.avatar}}" *ngIf="amico.avatar">
            <img class="amico_avatar" src="http://via.placeholder.com/150x150" *ngIf="!amico.avatar">
          </ion-col>
          <ion-col col-10 style="margin-top: 6px;">
            <h2><strong>{{amico.username}}</strong></h2>
            <p>Punti Piuma: {{amico.punti|number|pointReplacer}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </button>
  </ion-list>

  <div *ngIf="lista_amici==0" text-center>
    <h5>La tribù si allarga</h5>
    <p>Non hai ancora aggiunto i tuoi utenti preferiti</p>
    <button ion-button class="" (click)="go_cerca()" class="BOTTONE-AZZURRO-BLU">Aggiungi amico</button>
  </div>
</ion-content>
