<ion-header>
  <ion-navbar>
    <ion-title>Lista utenti</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="go_cerca()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1 *ngIf="lista_amici!=0" text-center>I tuoi amici</h1>
  <ion-list>
    <ion-item *ngFor="let amico of lista_amici">
      <h1>{{amico.username}}</h1>
      {{amico.first_name}} {{amico.last_name}}
      <ion-icon name="checkmark" item-end (click)="removeAmico(amico, amico.id)"></ion-icon>
    </ion-item>
  </ion-list>
  <div *ngIf="lista_amici==0" text-center>
    <p>Non hai ancora aggiunto utenti preferiti</p>
    <button ion-button (click)="go_cerca()">Aggiungi amico</button>
  </div>
</ion-content>
