<ion-header>
  <ion-navbar>
    <ion-title>Lista utenti</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="go_cerca()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <h1 *ngIf="lista_amici!=0" text-center>I tuoi amici</h1>

  <ion-list margin-top>
    <button ion-item *ngFor="let amico of lista_amici" (click)="amicoSelected(amico)">
      <h2>{{amico.username}}</h2>
      <p>{{amico.first_name}} {{amico.last_name}}</p>
    </button>
  </ion-list>

  <div *ngIf="lista_amici==0" text-center>
    <p>Non hai ancora aggiunto utenti preferiti</p>
    <button ion-button (click)="go_cerca()">Aggiungi amico</button>
  </div>
</ion-content>
